{% if nm_easywholesale_showPrices %}
  {% unless nm_easywholesale_hidePricesProductIds contains product_temp.id %}
    <div class="nm-easywholesale-price {% if variant.inventory_quantity <= 0 and variant.available == false %}nm-price-outstock{% endif %} nm-primary-color" data-priceid="{{ variant.id }}">{{ nm_easywholesale_textBeforePrice }}{% if nm_easywholesale_showPricesOnly %}
        {{ variant_price | money }}{% endif %}
      {% if variant.compare_at_price > variant_price and nm_easywholesale_page_showCompareAtPrice %}
        <strike>{{ variant.compare_at_price | money }}</strike>
      {% endif %}
      {{ nm_easywholesale_textAfterPrice }}</div>
  {% endunless %}
{% endif %}